tensorflow==2.14.0
protobuf==4.25.3
opencv-python==4.9.0.80
scikit-learn==1.4.2
matplotlib==3.8.4
pandas==2.2.3
numpy==1.26.4
tqdm==4.67.1
pip install torch==2.7.1 torchvision==0.22.1 torchaudio==2.7.1 --index-url https://download.pytorch.org/whl/cu118